<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Comics Cubed</title>
	 
	<!-- CSS -->
	<link rel="stylesheet" href= "/style/base.css" type="text/css">
	<link rel="stylesheet" href= "/style/aboutus.css" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="icon" href="images/comicscubed.ico" type="image/x-icon" title="Comics Cubed logo">
	<script src="/script/home_functions.js" defer></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
	<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Comics Cubed</title>
	 
	<!-- CSS -->
	<link rel="stylesheet" href= "./style/base.css" type="text/css">
	<link rel="stylesheet" href= "./style/home.css" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="icon" href="./images/comicscubed.ico" type="image/x-icon" title="Comics Cubed logo">
	<script src="./script/home_functions.js" defer></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
	<nav>
		<img src="./images/comicscubed.png" alt="Comics Cubed Logo">
		<div id="nav_brand"><b>Comics<sup> 3</sup></b></div>
		<div class="navbar">
			<a href="/">Home</a> 
			<a href="/Marketplace">Marketplace</a>
			<a href="/Newsletter" id="myLink"> Newsletter</a>
			<a href="/Events">Events</a>
			<a href="/AboutUs">About Us</a>
			<a class="search-container">
			<input type="text" placeholder="Search.." name="search">
			<button type="submit"><i class="fa fa-search"></i></button>
			<!--
			</a>
		<a class="cart-button">View Cart
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-cart" viewBox="0 0 16 16">
				<path fill="lawngreen" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
				</svg>
		</a>
		-->
		</div>	
		<div class="mode">
			Dark mode:             
			<span class="change">OFF</span>
		</div>
	</nav>
    <div>
      {{{body}}}
    </div>

    <footer>
				Copyright &copy; <span id="year"></span> Comics Cubed | All Rights Reserved. <br>
				<img src="./images/comicscubed.png" alt="Comics Cubed Logo">
			</footer>

    <!-- Script Links -->
    <script>
      <script 
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>