<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Update Newsletter</title>  
<link rel="stylesheet" href= "./style/base.css" type="text/css">
<link rel="stylesheet" href= "./style/updateNews.css" type="text/css">   
</head>
    <div>
      {{{body}}}
    </div>
    <footer>
        Copyright &copy; <span id="year"></span> Comics Cubed | All Rights Reserved. <br>
    </footer>    
    
</html>