body{
    background-color: white;
}

h1{
    padding-top: 50px;
    font-family: Impact, sans-serif;
}
.row{
    padding-bottom: 50px;
}

.pagination > li > a
{
    background-color: white;
    color: lawngreen;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: lawngreen;
    border: solid 1px lawngreen; 
}

.pagination > .active > a:hover
{
    background-color: lawngreen;
    border: solid 1px lawngreen;
}

.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 7px;
    margin-left: 8px;
    background-color: black;
    color: white;
  }

  .change:hover {
    color: #555;
  }

  .dark{
    background-color: #666;
    color: #e6e6e6;
  }

  .mode {
    float:right;
    padding-bottom: 15px;
    margin-top: -5px;
   margin-right: 10px;
   font-family: "Bangers", sans-serif;
   font-size: 30px;
   }

.container{
    width: 100%;
}
footer{
    text-align: center;
}

footer img{
    width: 100px;
    height: 100px;
}