.icon {
    padding-left: 25px;
    background: url("./images/search-interface-symbol.png") no-repeat left;
    background-size: 20px;
}
nav{
    overflow: hidden;
}
nav img{
    width: 90px; 
    height: 90px; 
    float: left;
    padding-top: 10px;
    margin-top: 10px;
}

.table-background-temp{
    background-color: aqua;
}

.wrapper{
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  outline: 3px solid lawngreen;
}

.center-image-news{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 600px;
  margin-bottom: 30px;
}

.text-block-header {
  position: absolute;
  top: 42%;
  left: 10%;
  right: 10%;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  font-size:30px;
  text-align: center;
}
.text-block-para {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  font-size:20px;
}
 .navbar{
    overflow: hidden;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    background-color: black;
    border-radius: 30px;
    perspective: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
 }

 .navbar a{
    text-decoration: none;
    color: white;
    margin-right: 35px;
 }

 .navbar a:hover{
    text-decoration: none;
    color: lightgrey;
 }

  .navbar .search-container button {
    margin-left: -7px;
    padding-bottom: 8px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lawngreen;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .navbar .search-container button:hover {
    background: lawngreen;
  }

  .search-container input{
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .cart-button{
    float: right;
    margin-top: 10px;
  }

  .col{
    flex: 50%;
    padding-left: 100px;
  }
  .row{
    display: flex;
  }

  .change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 7px;
    margin-left: 8px;
    background-color: black;
    color: white;
  }

  .change:hover {
    color: #555;
  }

  .dark{
    background-color: #666;
    color: #e6e6e6;
  }

  footer {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 4px #81D65A;
  }
  
  footer img{
    width: 100px;
    height: 100px;
}
.wrapper h1{
  font-family: "Bangers", sans-serif;
  font-size: 35px;
  color: black;
  padding-left: 10px;
  border-bottom: solid 4px #000000;
}
#nav_brand{
  color: black;
  text-shadow: 3px 2.25px 0px lawngreen;
  font-family: "Bangers", sans-serif;
  font-size: 50px;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 60px;
  float: left;
}
.mode {
    float:right;
    margin-top: 2.5%;
  margin-right: 10px;
  font-family: "Bangers", sans-serif;
  font-size: 30px;
  }