<div class="wrapper">
		<img class = "aboutUsHeader" src="images/aboutUsHeader.png" alt="About Us Header"><br>	 
	<div class="container">
		<div class="row">
			 <div class="col-md-6">
				<img class="aboutUsImages" src="images/welcomeKokomo.png" width="75%">
				</div>
			 <div class="col-md-5 text-block-para introInfo">
				Hello! We are Comics Cubed- a locally owned and operated comic book shop right here in the heart
			of Kokomo. Located downtown, our store has gained a reputation as a place to explore comics from all eras. In our store, 
			there is no telling what you will find as our expansive inventory keeps growing. Visit us today!</div> 
		   </div>
			 </div>
			 <div class="row bioInfo">
			 <div class="col-md-4">
					Our owner, Shawn, briefly attended Indiana University Kokomo for a business management degree. However, he soon found his calling as a full-time 
				manager of a previous comic book shop here in Kokomo in the late 1980s. Fast forward to today, and he is the owner of Comics Cubed; 
				his own comic book store. Being involved since 1989, Shawn has gained a lot of respect from his peers and customers alike as he has 
				consistently provided a unique place for anyone to buy, trade, and sell comic books.</div>
			<div class="col-md-3">
				<img class="aboutUsImages" src="images/comicscubed.png" width="50%">
		   </div>
		</div>

		<img class = "contactUsHeader" src="images/contactUsHeader.png" alt="Contact Us Header"><br>
		<div class="container">
			<div class="row">
				 <div class="col-md-6">
					<img class="aboutUsImages" src="images/inquiryBubble.png" width="75%">
				 </div>
				 <div class="col-md-6 text-block contactInfo">
						<b>Phone Number:</b> +1 (765) 450-4126<br>
						<br>
						<b>Address:</b> 121 E Sycamore St Kokomo, IN 46901
				</div> 
			</div>	
		<br>
		<section>
			<a href="https://www.facebook.com/COMICSCUBED/"><img class = "moreInfoBanner" src="images/moreInfoBanner.png" alt="Facebook Banner"></a>
		</section>
	</div>
	</div>