<div class="row">
    
    <div class="col-md-12">
        <h2>New Comic Book</h2>
        <hr />
        <div class="table-responsive">
        <table class="table ">

<form id="comicbookForm" method="post" action="/comicBooks/add">  
        <div class="container">   
            <label for="comicCover">Insert Picture of the Comic Book:</label> 
            <input type="file" id="comicCover" name="comicCover" accept="image/png, image/jpeg, image/jpeg" required><br><br>

            <label for="comicbookTitle">Insert Title and Issue # of Comic Book:</label>    
            <input type="text" placeholder="Enter Title" id="comicbookTitle" name="comicbookTitle" required><br><br>

            <label for="comicbookUniverse">Insert Universe of Comic Book:</label>    
            <input type="text" placeholder="Enter Universe" id="comicbookUniverse" name="comicbookUniverse" required><br><br>

            <label for="comicbookYear">Insert Year of Comic Book:</label>    
            <input type="text" placeholder="Enter Year" id="comicbookYear" name="comicbookYear" required><br><br>

            <label for="comicbookDescription">Insert Description of Comic Book:</label>    
            <textarea placeholder="Enter Description" id="comicbookDescription" name="comicbookDescription" required></textarea><br><br>

            <label for="comicbookPrice">Insert Price of Comic Book:</label>    
            <input type="text" placeholder="Enter Price" id="comicbookPrice" name="comicbookPrice" required><br><br>
            
            <label for="quantity">Insert Quantity of Comic Book:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="10" required><br><br>

            <button type="submit">Enter Comic Book</button>     
        </div>   
    </form> 

    </table>
        </div>
    </div>
</div>