 <div class = wrapper> 
        <div class ="cartWrapper">
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Image</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Amazing Fantasy #15</td>
                        <td>$3.99</td>
                        <td><input type="number" value="1" min="1"></td>
                        <td><img src="images/amazingspiderman.jpeg" alt="Item 1"></td>
                        <td>$3.99</td>
                    </tr>
                    <tr>
                        <td>Avengers #75</td>
                        <td>$3.99</td>
                        <td><input type="number" value="2" min="1"></td>
                        <td><img src="images/avengers.jpeg" alt="Item 2"></td>
                        <td>7.98</td>
                    </tr>
                    <tr>
                        <td>BATMAN #23.1: THE JOKER</td>
                        <td>$3.99</td>
                        <td><input type="number" value="1" min="1"></td>
                        <td><img src="images/joker.jpeg" alt="Item 3"></td>
                        <td>$3.99</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td >Subtotal</td>
                        <td>$15.96</td>
                    </tr>
                    <tr>
                        <td >Taxes</td>
                        <td>$5.00</td>
                    </tr>
                    <tr>
                        <td >Total</td>
                        <td>$17.08</td>
                    </tr>
                </tfoot>
            </table>
            <div class="checkout">
                <a href="/Marketplace">Continue Shopping</a>
                <a href="#">Checkout</a>
            </div>
    </div>
</div>