<div class="wrapper">
        <div class="top">
            <img class = "marketplaceHeader" src="images/marketplaceHeader.png" alt="Marketplace Header"><br>
        <label for="sort">Sort by:</label>
        <select id="sort" onchange="sortItems()">
            <option value="price">Price</option>
            <option value="title">Title</option>
        </select>
        </div>

        <div id="row">
            <div class="item">
                <img src="images/amazingspiderman.jpeg"  alt="Item 1"> 
                <h2>Amazing Fantasy #15</h2>
                <p>Universe: Marvel</p>
                <p>Year: 1962</p>
		        <p>The First Appearance of the Amazing Spider-Man! When young<br>
                    Peter Parker gains remarkable abilities from a radioactive<br>
                    spider, he must step up and try to become a hero — while also<br>
                    dealing with the fantastic pressures of an everyday teenager!<br>
                     For with great power, there must also come great responsibility!<br></p>
		        <p class="price">Price: $3.99</p> 
            </div>
    
            <div class="item">
                <img src="images/captainamerica.jpeg"  alt="Item 2">
                <h2>Captain America #695</h2>
                <p>Universe: Marvel</p>
                <p>Year: 2017</p>
		        <p>HOME OF THE BRAVE. Part 1. HOME OF THE BRAVE begins<br>
                    - and Steve Rogers is back in action in the red-white-and-blue!<br>
                    Steve begins a journey across America to restore his tarnished<br>
                    reputation - and the dangers he encounters along the way are<br>
                    unlike any he's faced before!</p>
		        <p class="price">Price:$3.99 </p>
            </div>

            <div class="item">
                <img src="images/avengers.jpeg"  alt="Item 3">
                <h2>Avengers #75</h2>
                <p>Universe: Marvel</p>
                <p>Year: 1970</p>
		        <p>Quicksilver returns to the Avengers Mansion, but not to rejoin<br>
                    the team! After an initial miscommunication with Yellowjacket<br>
                    and Wasp, Pietro reveals that his sister, the Scarlet Witch, has<br>
                    been kidnapped after abusing black magic.</p>
		        <p class="price">Price:$3.99 </p>
            </div>
        </div>

        <div id="row">
            <div class="item">
                <img src="images/Batman-Detective.jpeg" alt="Item 4">
                <h2>BATMAN: The Detective #1</h2>
                <p>Universe: DC</p>
                <p>Year: 2021</p>
		        <p>A horrific tragedy in the United Kingdom sends a very personal<br>
                    and deadly message to the Dark Knight—one that will draw Batman<br>
                    out of Gotham City to investigate! From the moment he lands in Europe,<br>
                    Batman will face a difficult investigation and unheard-of adversaries<br>
                    and find the assistance of a partner once more—all in the hunt for the<br>
                    villain known as Equilibrium! New villains! New allies! A thrilling overseas<br>
                    adventure begins for the Dark Knight!.</p>
		        <p class="price">Price:$3.99 </p>

            </div>
            <div class="item">
                <img src="images/doctor-strange.jpeg" alt="Item 5">
                <h2>STRANGE TALES: Doctor Strange #156</h2>
                <p>Universe: Marvel</p>
                <p>Year: 1967</p>
		        <p>In order to vanquish the unspeakable Umar, Dr. Strange has<br>
                    liberated Zom from an imprisonment of ages!</p>
		        <p class="price">Price:$3.99 </p>
            </div>

            <div class="item">
                <img src="images/superman-and-the-flash.jpeg" alt="Item 6">
                <h2>DC COMICS PRESENTS<br>Superman And The Flash</h2>
                <p>Universe: DC</p>
                <p>Year: 1978</p>
		        <p>Superman and the Flash find themselves on opposite sides<br>
                    when they become "super bounty hunters."</p>
		        <p class="price">Price:$3.99 </p>

            </div>
                </div>
        
                <div id="row">
                    <div class="item">
                        <img src="images/green-lantern.jpeg" alt="Item 7">
                        <h2>Green Lantern #1</h2>
                        <p>Universe: DC</p>
                        <p>Year: 1990</p>
                        <p>The long awaited return of DC's greatest cosmic heroes! First Issue!</p>
                        <p class="price">Price:$3.99 </p>
        
                    </div>
                    <div class="item">
                        <img src="images/hawkeye.jpeg" alt="Item 8">
                        <h2>Avengers #223</h2>
                        <p>Universe: Marvel</p>
                        <p>Year: 1982</p>
                        <p>Hawkeye must face his past after an old circus colleague is<br>
                            threatened by Taskmaster. Featuring Scott Lang as Ant-Man!</p>
                        <p class="price">Price:$3.99 </p>
                    </div>
        
                    <div class="item">
                        <img src="images/joker.jpeg" alt="Item 9">
                        <h2>BATMAN #23.1: THE JOKER</h2>
                        <p>Universe: DC</p>
                        <p>Year: 2013</p>
                        <p>The Joker has FOREVER been the face of EVIL in the DC Universe…<br>
                           but what led him on this devious path of treachery? Andy Kubert pens<br>
                            this early adventure showcasing the maniacal exploits of the Crown Prince of Gotham—The JOKER!</p>
                        <p class="price">Price:$3.99 </p>
        
                    </div>
                        </div>
                <section>
                    <a href="/AboutUs"><img class = "marketplaceBanner" src="images/marketplaceBanner.png" alt="Marketplace Banner"></a>
                </section>
            </div>