
<div class="wrapper">		 
    <div>
           <img class="introText" src="images/newsletterHeader.png" width="auto" height="100px" style="text-align: left;">
   </div>

    <div>
		<img class="center-image-news" src="images/newsletterBG.png"> 
		<div class="text-block-header">{{newsletters.newsDate}}</div>
		<div class="text-block-para">{{{newsletters.newsDesc}}}</div> 
    </div>
  
</div>
	
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

