
<div class="wrapper">		 
    <div>
           <img class="introText" src="images/newsletterHeader.png" width="auto" height="100px" style="text-align: left;">
		   <div class="mode">
			Dark mode:             
			<span class="change">OFF</span>
		</div>
   </div>
    <div>
		<img class="center-image-news" src="images/newsletterBG.png">  
		<div class="text-block-header">{{date}}</div>
		<div class="text-block-para">{{{body}}}</div> 
    </div>
</div>
			<footer>
				Copyright &copy; <span id="year"></span> Comics Cubed | All Rights Reserved.<br>
			</footer>
	
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

