<body>     
     <h1> Update Newsletter</h1>  


    <form id="newsletterForm" method="post" action="/updateNews/add">  
        <div class="container" >   
            <label for="newsDate">Insert Updated Month:</label> 
            <input type="text" id="newsDate" name="newsDate" required >
            <br/>
            <label for="newsDesc">Insert Updated Newsletter:</label>    
          
            <input type="text" id="newsDesc" name="newsDesc"  class= "updateLetter" required> 

            <br/>
            <button type="submit">Update News</button>     
        </div>   
    </form> 
</body>