Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: lightgrey;  
  }  
  button {   
         background-color: black;   
         width: 100%;  
          color: white;   
          padding: 15px;   
          margin: 10px 0px;   
          border: none;   
          cursor: pointer;   
           }   
   form {   
          border: 3px solid lawngreen;   
      }   
   input[type=email], input[type=password] {   
          width: 100%;   
          margin: 8px 0;  
          padding: 12px 20px;   
          display: inline-block;   
          border: 2px solid lawngreen;   
          box-sizing: border-box;   
      }  
   button:hover {   
          background-color: lawngreen;
          opacity: 0.7;   
      }   
    .cancelbtn {   
          width: auto;   
          padding: 10px 18px;  
          margin: 10px 5px;  
      }   
          
       
   .container {   
          padding: 25px;   
          background-color: lightblue;  
      }   
  h1{
      text-align: center;
  }
  
  a{
      float: right;
      color: black;
  }
  
  a:hover{
      color: lightgrey ;
  }

  footer{
    margin-top: 20px;
      text-align: center;
      
  }
  
  footer img{
      width: 100px;
      height: 100px;
  }